@{
    Layout = null;
}
@model Eastlaws.Entities.AhkamPresentation


      @if (Model != null)
        {
            var Hokm = Model.AhkamList.ToArray()[0];

   

                <h1>

                 @if (!string.IsNullOrEmpty(Hokm.CountryFlagPic))
                {
                        <img src="~/Content/images/Flags/Small/@Hokm.CountryFlagPic" />

                    }
                    @Hokm.FullName
                </h1>
            var FakaratArray = Model.FakaratList;

              if (ViewBag.fakarat != null)
              {
                  FakaratArray = Model.FakaratList.Where(o => ViewBag.fakarat.Contains(o.ID)).ToArray();
              }
              @foreach (var Fakra in FakaratArray)
                {
              @if (@Fakra.FakraNo <= 1)
                    {
                        <h4 class="fakr-title">
                            <i class="fa fa-file" aria-hidden="true"></i>
                            <span> @Fakra.Title</span>
                        </h4>
                    }

                    @if (@Fakra.FakraNo >= 1)
                    {
                        <h4 class="number-title">
                            <span> @Fakra.FakraNo </span>
                        </h4>
                    }

                    @if (!string.IsNullOrWhiteSpace(Fakra.MogazText))
                    {
                        <p class="FakraMogaz">
                            @Fakra.MogazText
                        </p>
                    }

                    <p class="fakra-text">
                        @Fakra.Text
                    </p>

                }
            
        }




