@{
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
    ViewBag.Title = "أحكام المحاكم العربية العليا ";
}

<div class="title-module">
    <h1><span class="main-title">منظومة أحكام المحاكم العربية</span></h1>

</div>
<hr class="spacer" />
@Html.Partial("_ManzomatLinks")

<div class="main" ng-app="ahkamApp">
    <div class="col-lg-12" ng-controller="ahkamCtrl">
        <div class="card">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#assembleSearch" aria-controls="assembleSearch" role="tab" data-toggle="tab">بحث متخصص</a></li>
                <li role="presentation"><a href="#mada" aria-controls="mada" role="tab" data-toggle="tab">بحث بتطبيقات المادة</a></li>
                <li role="presentation"><a href="#fahras" aria-controls="mada" role="tab" data-toggle="tab">بحث بالفهارس</a></li>
            </ul>


            <div class="tab-content">

                <div role="tabpanel" class="tab-pane active" id="assembleSearch">
                    <div class="search-form form-horizontal"
                         ng-controller="assembleSearchCtrl">@Html.Partial("_AssembleSearch")</div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="mada">
                        <div class="search-form form-horizontal" ng-controller="tadbekMadaSerachCtrl"> @Html.Partial("_tadbekMadaSearch")</div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="fahras">
                        <div class="search-form" ng-controller="fehressSearchCtrl">@Html.Partial("_FehresSearch")  </div>
                    </div>

                </div>
            </div>
            <div class="result-search">

                <p id="TotalCount" class="total-chart"></p>

                <div class="col-lg-9 col-md-8  col-sm-8 list-content">
                    <div class="format-result" ng-controller="toolbarCtrl"> @Html.Partial("_toolbar") </div>
                    <div class="filter-element" ng-controller="selectedElementCtrl">
                        <div id="tasfyaTest"></div>
                        @Html.Partial("_filterElement")
                    </div>

                    <hr class="spacer" />

                    <div id="searchResult" ng-controller="searchResultCtrl"></div>
                    <hr class="spacer" />

                    <div class="paging-search text-center" ng-controller="pagesCtrl">
                        <c-pageing id="pageingctr" ng-show="pageCount > 1"
                                   pages-count="{{pageCount}}"
                                   current-page="mypage"
                                   on-getpage="getmypage()"
                                   limit-no="10">
                        </c-pageing>

                    </div>

                </div>

                <div class="col-lg-3 col-md-4 col-sm-4 filter-search side-left" ng-controller="tasfyaCtrl">


                    <div id="tasfyaLood" style="display:none" class="text-center"><img src="/content/images/preload.gif" /></div>


                    <div id="Div-tasfya" style="display:none">
                       
                         
                        <h4><i class="fa fa-server"></i> تصفية النتائج </h4> <!--</div>-->
                        <div class="form-group">
                            <label for="horizontal_search" class="col-lg-12 col-sm-12 control-label bg-color title"> </label>
                            <div class="col-sm-12 search">
                                <div class="input-group">
                                    <input ng-model="tasfyatext" type="text" placeholder="بحث فى عوامل التصفية" class="form-control">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-success" ng-click="gettasfya()">إبحث</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        @*class="panel-group"*@
                        <div class="" id="accordion">
                            <div class='filter-section'>
                                
                                @*<p ng-repeat="data in categoryList">000000</p>*@

                                <div class="panel panel-default" ng-repeat="data in categoryList" ng-show="displayCatg(data.ID)" on-finish-render="ngRepeatFinished">
                 
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#{{data.ID}}">
                                                <i class="indicator glyphicon glyphicon-chevron-up  pull-right"></i>&nbsp; {{data.Name}}
                                            </a>
                                        </h5>
                                    </div>@*ng-class="{'in':$index == 0}"*@
                                    <div class='well panel-collapse collapse in' id="{{data.ID}}" aria-expanded="true">
                                        <div class="panel-body">
                                            <ul class='list-group' style="height:200px; overflow-y:auto;" infinite-scroll="increaseLimit()">
                                                <li ng-repeat="details in tasfyaList | filter :{CategoryID:data.ID} | limitTo:limit" class='list-group-item color-tooltip' data-toggle="tooltip" data-placement="top" title="{{details.Name}} - ({{details.Count}})">
                                                    {{countCatgID(details.CategoryID)}}
                                                    <label> <input type='checkbox' class="itemFilters" data-catgID="{{details.CategoryID}}" data-itemID="{{details.ID}}" ng-click='changeCheck(details,$event)' />&nbsp;  {{details.Name}} - ({{details.Count}})</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="spacer" />
            </div>
            <hr class="spacer" />
        </div>
    </div>

    <hr class="spacer" />

    <script>



        //************** tasks ***********************//
        //------------- done ------------------- >>>> looooooooding
        //-------------- done ------------------ >>>> OMAR GROUP show and hide with egypt country
        //------------  done ---------------- >>>> select all and none select all
        //---------------  done  --------------- >>>> when user sernd all contries or all ma7akem (send as null)
        //------------- done --------------- >>> change font size
        //-------------- done ---------------- >>> scroll page
        //---------------- done --------------- >>> convert $rootscope to service
        //------------------  done  ------------ >>> fixed Paging bugs
        //---------------- done ------------ >>> table height equal to hokm div
        //----------------- done ------------- >>> desc and asc in sort
        //---------------- in progress  -------------- >>> arrange js code

        //---/********/ merge tasfya sevices with search service    <<<<<<<<<<<<<<<<<<<<<<<<<<<<< ******* to important

        //------------------------------------------- >>> hide empty tasfya

        //------------------------------ >>> Angularjs Post http
        //-------------------------------- >>> filter section from server
        //-------------------------------- >>> hide and show right section
        //-------------------------------- >>> switch between  3 type views  changes in css only


        (function () {
            "use strict";
            var app = angular.module('ahkamApp', ['sharedModule']);
            app
            .controller('ahkamCtrl', function (SearchData, $timeout) {
                //SearchData.searchType = 1;
                //SearchData.newSearch = true;
                //SearchData.newtasfya = true;
                //SearchData.currentPage = 1;
                //SearchData.sortType = 5;
                //SearchData.Latest = false;
                //SearchData.GetSearch();

                ////SearchData.Latest = false;
             
               
                angular.element(document).ready(function () {
                    SearchData.sortType = 2;
                    SearchData.Latest = false;
                    $('#btnsubmit').trigger('click');
                    //console.log('page loading completed');
                    //var currentButton = angular.element('#btnsubmit');
                    //$timeout(function () {
                    //    console.log('page loading ssssssssssssssss');
                    //    currentButton.triggerHandler("click");
                    //});
                });
            })
            .controller('searchResultCtrl', function () {
                       $(document).on('click', '.hokmView', function () {
                           $(".hokmView").removeClass("active");
                           var obj = $(this);
                           if (obj.hasClass("active")) {
                               obj.removeClass("active");
                           } else {
                               obj.addClass("active");
                           }
                           var idHokm = obj.data('idhokm');
                           //$.get('/Ahkam/FullHokmView', { 'ID': idHokm }, function (data) {
                           //    $('#hokmview').html(data)
                           //});

                           var arr = [];
                           $.post('/Ahkam/FullHokmView', { 'ID': idHokm, 'arr': arr }, function (data) {
                               $('#hokmview').html(data)
                           });
                          //// alert('22')
                       })

              })
            .controller('assembleSearchCtrl', function ($scope, SearchData, $http, tasfiaData) {
                 $scope.omarGroupShow = false;
                 $scope.Inputs = {};
                 $scope.date = {};
                 $scope.choiceMahakem = [];
                 $scope.countries = [];
                 $scope.Mahakem = [];
                 $scope.MahkamaReplies = [];
                 $scope.gehaType = [];

                 $scope.updatecountry = function () {
                     $scope.omarGroupShow = false;
                     $scope.Mahakem = [];
                     $scope.choiceMahakem = [];
                     $scope.Inputs.country = $scope.country.ID;
                     $scope.Inputs.mahakem = "";
                     if ($scope.country.ID > 0) {

                         $http.get('/Ahkam/GetMahakem?countryID=' + $scope.country.ID + '', {}).then(function (d) {
                             $scope.Mahakem = d.data;
                         });
                         if ($scope.country.ID == 1) {
                             $scope.omarGroupShow = true;
                         }
                     }
                 }

                 $scope.updategehaType = function () {
                  //   console.log($scope.gehaType);
                  //   console.log($scope.gehaType);
                 }

                 $http.get('/Ahkam/GetCountries', {}).then(function (d) {
                     $scope.countries = d.data;
                     $scope.countries.unshift({ ID: 0, Name: 'جميع الدول' });
                     $scope.country = { ID: 0 };
                     $scope.updatecountry();
                 });


                 $http.get('/Ahkam/GetGehaType', {}).then(function (d) {
                     $scope.gehaType = d.data;
                     //console.log($scope.gehaType);
                     $scope.gehaType.unshift({ ID: 0, Name: 'الكل' });
                    // $scope.gehaTypeID = { ID: 0 };
 
                 });

                 $scope.updateMahkamaReplies = function () {
                     $scope.Inputs.MahkamaReplay = $scope.MahkamaReplay.ID;
                 }

                 $scope.selectCheckboxes = function (val) {
                     if (val === 1) {
                         $('.ma7kama_checkbox').prop('checked', true);
                         $scope.Mahakem.forEach(function (e) {
                             $scope.choiceMahakem.push(e.ID);
                         });
                         $scope.Inputs.mahakem = $scope.choiceMahakem.join(',');
                     }
                     else if (val === 0) {
                         $('.ma7kama_checkbox').prop('checked', false);
                         $scope.choiceMahakem.splice(0, $scope.choiceMahakem.length);
                         $scope.Inputs.mahakem = '';
                     }
                 }

                 $http.get('/Ahkam/GetMahkamaReplies', {}).then(function (d) {
                     $scope.MahkamaReplies = d.data;
                     $scope.MahkamaReplies.unshift({ ID: 0, Name: 'الكل' });
                     $scope.MahkamaReplay = { ID: 0 };
                     $scope.updateMahkamaReplies();
                 });


                 $scope.MahakemCheck = function (id, event) {
                     if (event.target.checked) {
                         $scope.choiceMahakem.push(id);
                     } else {
                         $scope.choiceMahakem.splice($scope.choiceMahakem.indexOf(id), 1);
                     }
                     $scope.Inputs.mahakem = $scope.choiceMahakem.join(',');
                 }

                 $scope.omarGroupChecked = function (event) {
                     if (event.target.checked) {
                         $scope.Inputs.omarGroup = 'ع';
                     } else {
                         $scope.Inputs.omarGroup = '';
                     }
                 }

                 function setAllMhakem() {
                     if ($scope.Mahakem.length === $scope.choiceMahakem.length)
                     { $scope.Inputs.mahakem = ''; }
                 }

                 $scope.search = function () {
                     setAllMhakem();

                     SearchData.ahkamlist = {};
                     tasfiaData.clearall();
                     SearchData.SelectedCatgID = null;
                     SearchData.searchType = 1;
                     SearchData.newSearch = true;
                     SearchData.newtasfya = true;
                     SearchData.currentPage = 1;
                     SearchData.AssembleSearchInputs = $scope.Inputs;
                     SearchData.Latest = false;
                     SearchData.GetSearch();
                 };
            })
            .controller('toolbarCtrl', function ($scope, SearchData) {
                $scope.pageSizes = [10, 50, 100];
                $scope.pSize = 10;
                $scope.sortTitle = " النتائج";

                $scope.fontsize = function (size) {
                    var sizearr = [8.5, 10.5, 14, 12.5, 16.5, 18.3, 20];
                    var currentSize = parseFloat($('.fakra-text').css('font-size'));
                    if (size == '+') {

                        var newsize = sizearr.findElemnet(currentSize, 'next');
                        $('.fakra-text').css('font-size', newsize + 'px');
                    }
                    else if (size == '-') {
                        var newsize = sizearr.findElemnet(currentSize, 'prev');
                        $('.fakra-text').css('font-size', newsize + 'px');
                    } else {
                        $('.fakra-text').css('font-size', 14 + 'px');
                    }
                }


                $scope.changeSort = function (type) {
                    SearchData.sortType = type;
                    SearchData.currentPage = 1;
                    SearchData.newtasfya = false;
                    SearchData.newSearch = true;

                    SearchData.GetSearch();
                    switch (type) {
                        case 1:
                            {
                                $scope.sortTitle = "  برقم الحكم ";
                                break;
                            }
                        case 2:
                            {
                                $scope.sortTitle = "بالسنة القضائية";
                                break;
                            }
                        case 3:
                            {
                                $scope.sortTitle = " بتاريخ الحكم";
                                break;
                            }
                        default:
                            $scope.sortTitle = "النتائج";
                            break;
                    }

                }

                $scope.changeSortDirection = function (dir) {
                    SearchData.sortTypeDir = dir;
                    SearchData.currentPage = 1;
                    SearchData.newtasfya = false;
                    SearchData.newSearch = true;

                    SearchData.GetSearch();
                }

                $scope.changePageSize = function (size) {
                    $scope.pSize = size;
                    SearchData.pageSize = $scope.pSize;
                    SearchData.currentPage = 1;
                    SearchData.newtasfya = false;
                    SearchData.newSearch = true;
                    SearchData.GetSearch();
                }
                $scope.changeTypeView = function (v) {
                    SearchData.typeView = v;
                    SearchData.newtasfya = false;
                    SearchData.newSearch = true;
                    SearchData.GetSearch();
                }
            })
            .controller('pagesCtrl', function ($scope, SearchData) {
                $scope.service = SearchData;
                $scope.$watchCollection('[service.currentPage, service.pageCount,service.pageSize]',function (newValues, oldValues) {
                    if (newValues[0] !== oldValues[0])
                    {
                        if (newValues[0] == 1) {
                            $scope.mypage = 1;
                        }
                    }
                    if (newValues[1] !== oldValues[1]) {
                        $scope.pageCount = newValues[1];
                    }
                    if (newValues[2] !== oldValues[2]) {
                        $scope.mypage = 1;
                        if (Number(SearchData.TotalCount) > Number(SearchData.pageSize)) {
                            $scope.pageCount = Math.ceil(SearchData.TotalCount / Number(SearchData.pageSize));
                        }
                    }
                });


                $scope.getmypage = function () {

                    if ($scope.mypage === undefined) {
                        SearchData.currentPage = $scope.mypage = 1;
                        SearchData.newtasfya = true;
                        SearchData.newSearch = true;
                    }
                    else
                    {
                       SearchData.currentPage = $scope.mypage;
                       SearchData.newtasfya = false;
                       SearchData.newSearch = true;
                    }
                    SearchData.GetSearch();
                }

              //  $scope.getmypage();
            })
            .controller('fehressSearchCtrl', function ($scope, $http) {

                $http.get('/Fehres/GetProgramsByService?servicesID='+1+'', {}).then(function (d) {
                    $scope.fehressPrograms = d.data;
                   // console.log($scope.fehressPrograms);
  
                });

                $scope.search = function () {
                    alert('fehres')
                }
            })
            .factory('SearchData', function ($http, tasfiaData, tasfiaAllData, $rootScope) {
                var data = {};
                data.searchType = 1;             //GeneralSearch 1   advancedserch 2  .... etc
                data.pageSize = 10;
                data.pageCount = 0;
                data.AssembleSearchInputs = {};
                data.TotalCount = 0;
                data.currentPage = 1;
                data.typeView = 2;                   //rows - grid - table
                data.days = 10;
                data.Latest = false;
                data.sortType = 5;
                data.sortTypeDir = 1;
                data.newtasfya = true;
                data.newSearch = true;
                data.SearchTools = {};
                data.ahkamlist = {};
                data.SelectedCatgID = null;

                data.datalist = {};
                data.datalist.listAllTasfya = [];
                data.datalist.listAllCatg = [];

                data.TasfeyaSearchText = '';

                data.GetSearch = function () {

                    if (data.searchType === 1) // AssymbleSearch
                    {
                        data.SearchTools.PageNo = data.currentPage;
                        data.SearchTools.Sort = data.sortType;
                        data.SearchTools.pageSize = data.pageSize;
                        data.SearchTools.Latest = data.Latest;
                        data.SearchTools.Days = data.days;
                        data.SearchTools.typeView = data.typeView;
                        data.SearchTools.SortDir = data.sortTypeDir;
                        var obj = {
                            AssemblySearch: data.AssembleSearchInputs,
                            SearchTools: data.SearchTools,
                            ahkamTasfeya: data.ahkamlist
                        };

                        var tasfyaObj = {
                            AssemblySearch: data.AssembleSearchInputs,
                            ahkamTasfeyaList: data.ahkamlist,
                            TasfeyaSearchText: data.TasfeyaSearchText,
                            SelectedCatgID: data.SelectedCatgID
                        };

                     
                     // console.log(obj);

                        if (data.newSearch == true) {
                            $('#searchResult').html('<img src="/content/images/preload.gif" />');

                            $.ajax({
                                url: "/Ahkam/SearchResultAssembly",
                                type: "POST",
                                data: { "SearchParms": obj },

                                success: function (d) {
                                    $rootScope.$apply(function () {
                                        var searchresult = $('#searchResult');
                                        searchresult.html(d);

                                        $('body').animate({ scrollTop: $("#TotalCount").offset().top }, 1000, function () {
                                            //console.log(data.newtasfya)
                                            //if (data.newtasfya == true) {

                                            //    //console.log('------------- 1 ----------------')
                                            //    for (var i = 0; i < $rootScope.catgDistinct.length; i++) {
                                            //        //console.log($rootScope.catgDistinct[i])
                                            //    }

                                            //    //console.log('------------- 2 ----------------')

                                            //    $rootScope.catgDistinct = [];
                                            //    //console.log('------------- 3 ----------------')
                                            //    for (var i = 0; i < $rootScope.catgDistinct.length; i++) {
                                            //      //  console.log($rootScope.catgDistinct[i])
                                            //    }
                                            //    //console.log('------------- 4 ----------------')
                                            //    //tasfiaAllData.getTasyaList();


                                            //    //console.log(tasfyaObj.ahkamTasfeyaList)


                                            //    $('#tasfyaLood').show();
                                            //    $('#Div-tasfya').hide();
                                            //    $.ajax({
                                            //        url: "/Ahkam/TasfeyaListJson",
                                            //        type: "POST",
                                            //        data: { "SarchTasfyaParms": tasfyaObj },
                                            //        success: function (d) {
                                            //            $rootScope.$apply(function () {

                                            //            $('#Div-tasfya').show(); $('#tasfyaLood').hide();
                                            //            data.datalist.listAllTasfya = d[0][1];
                                            //            data.datalist.listAllCatg = d[1][1];
                                            //            $rootScope.$broadcast('getTasfiyaList');
                                            //            });

                                            //        }
                                            //    });

                                            //}
                                        });

                                        if (data.newSearch == true) {
                                            data.TotalCount = 0;
                                            if (searchresult.find('#resultCount').length) {
                                                data.TotalCount = $("#resultCount").val();
                                                $('#TotalCount').html('');
                                                if (data.TotalCount > 0) {
                                                    $('#TotalCount').html(" <i class='fa fa-line-chart '></i> وجد اجمالي [" + data.TotalCount + "] حكم")
                                                }
                                            }
                                            if ((data.currentPage <= 1) || (data.currentPage == undefined)) {
                                                var countpage = 1;
                                                if (data.TotalCount > Number(data.pageSize)) {
                                                    countpage = Math.ceil(data.TotalCount / Number(data.pageSize));
                                                }
                                                data.pageCount = countpage;
                                                data.currentPage = 1;

                                            }




                                        }




                                        //get tasfya




                                    });
                                }
                            });
                        }


                        if (data.newtasfya == true) {

                            //for (var i = 0; i < $rootScope.catgDistinct.length; i++) {
                            //    //console.log($rootScope.catgDistinct[i])
                            //}

                            //console.log('------------- 2 ----------------')

                            //$rootScope.catgDistinct = [];
                            ////console.log('------------- 3 ----------------')
                            //for (var i = 0; i < $rootScope.catgDistinct.length; i++) {
                            //    //  console.log($rootScope.catgDistinct[i])
                            //}
  


                            $('#tasfyaLood').show();
                            $('#Div-tasfya').hide();
                            $.ajax({
                                url: "/Ahkam/TasfeyaListJson",
                                type: "POST",
                                data: { "SarchTasfyaParms": tasfyaObj },
                                success: function (d) {
                                    $rootScope.$apply(function () {

                                        $('#Div-tasfya').show(); $('#tasfyaLood').hide();
                                        data.datalist.listAllTasfya = d[0][1];
                                        data.datalist.listAllCatg = d[1][1];

                                        //console.log(data.datalist.listAllTasfya)
                                        $rootScope.$broadcast('getTasfiyaList');
                                    });

                                }
                            });

                        }



                    }
                };

                return data;
            })

            //Tasya-------------------------------------
            app
            .controller('tasfyaCtrl', function ($scope, tasfiaData, SearchData, $rootScope, $compile, tasfiaAllData, $http) {


                 $scope.categoryList = [];
                 $scope.tasfyaList = [];

                 $rootScope.catgDistinct = [];
                 $scope.countCatgID = function (catgID) {
                     var indx = $rootScope.catgDistinct.indexOf(catgID);
                     if (indx === -1) {
                         $rootScope.catgDistinct.push(catgID);

                     }

                   }
                 $scope.displayCatg = function (catgID) {
                     var result = false;
                     var catgLength = $scope.categoryList.length;
                     for (var i = 0; i < $scope.tasfyaList.length; i++) {
                         if ($scope.tasfyaList[i].CategoryID == catgID)
                         {
                             result = true;
                             return result;
                         }
                     }

                     return result;
                     //console.log($rootScope.catgDistinct.length);
                     //    var result = false;
                     //    var indx = $rootScope.catgDistinct.indexOf(catgID);
                     //    if (indx !== -1) {
                     //        result = true;
                     //    }
                     //    return result;
                 }



                     $scope.limit = 20;
                     $scope.increaseLimit = function () {
                         if ($scope.limit < $scope.tasfyaList.length) {
                             $scope.limit += 20;
                         }
                     }
                     $rootScope.$on('getTasfiyaList', function () {
                         $scope.limit = 20;
                        // console.log('noooooow')
                         $scope.categoryList = SearchData.datalist.listAllCatg;
                         $scope.tasfyaList = SearchData.datalist.listAllTasfya;

                         //$('.itemFilters').each(function (e) {
                         //   // console.log(e);
                         //})

                
                         $scope.$on('ngRepeatFinished', function (ngRepeatFinishedEvent) {
                             //  $('.itemFilters[data-catgID="0"][data-itemid="1"]').prop('checked', true);
                             for (var i = 0; i < SearchData.ahkamlist.length; i++) {

                                 let parid = SearchData.ahkamlist[i].Parameter;
                                 let catgID = SearchData.ahkamlist[i].CategoryID;
                                 //console.log(SearchData.ahkamlist[i]);
                                 $('.itemFilters[data-catgID="' + catgID + '"][data-itemid="' + parid + '"]')
                                 .prop('checked', true)
                                 .parent().parent().addClass('active');
                             }
                         });
        
                       //$rootScope  });
                         
                     
                         //console.log(SearchData.datalist.listAllCatg)
                         //$scope.categoryList = tasfiaAllData.listAllCatg;
                         //$scope.tasfyaList = tasfiaAllData.listAllTasfya;

                         //console.log(SearchData.ahkamlist)
                         
                     });

                     $scope.changeCheck = function (item, event) {
                      //console.log(item.Name);
                       $rootScope.catgDistinct.length = 0;
                         //$rootScope.$apply(function () {
                             if ($(event.target).is(':checked')) {
                                 tasfiaData.PushList(item.CategoryID + '_' + item.ID, item.Name, item.Count, item.CategoryID, item.ID);
                                 //$(event.target).parent().parent().addClass('active');

                             } else {
                                 //   tasfiaData.splice(item.Name)
                              tasfiaData.spliceObj(item)
                                 // $(event.target).parent().parent().removeClass('active');

                                // data.list.splice(data.list.indexOf(obj), 1);

                             }
                         //});

                         var sendobj = [];
                         for (var i = 0; i < tasfiaData.list.length; i++) {
                             var CategoryID = tasfiaData.list[i].itemcatgID;
                             var Parameter = tasfiaData.list[i].itemrealID;
                             sendobj.push({ CategoryID, Parameter})
                         }

                         SearchData.ahkamlist = sendobj;
                         SearchData.SelectedCatgID = item.CategoryID;
                         //console.log(SearchData.SelectedCatgID)

                         SearchData.searchType = 1;
                         SearchData.newSearch = true;
                         SearchData.newtasfya = true;
                         SearchData.currentPage = 1;
                         SearchData.ahkamlist = sendobj;
                         SearchData.Latest = false;
                         SearchData.GetSearch();
                     };

                     $scope.gettasfya = function () {
                        // console.log($scope.tasfyatext);

                         SearchData.TasfeyaSearchText = $scope.tasfyatext;
                         SearchData.newSearch = false;
                         SearchData.newtasfya = true;
                         //SearchData.ahkamlist = sendobj;
                         SearchData.Latest = false;
                         SearchData.GetSearch();
                     }
                      

                 })
            .controller('selectedElementCtrl', function ($scope, tasfiaData, SearchData, $rootScope, $compile, $timeout) {

                $scope.list = tasfiaData.list;
                $scope.delete = function (obj) {
                   // tasfiaData.spliceObj(obj);
                    //console.log(obj);
                   // $('#' + obj.itemid + '').prop('checked', false);
                    // var currentButton = angular.element('#' + obj.itemid + '');
                    var currentButton = angular.element('.itemFilters[data-catgID="' + obj.itemcatgID + '"][data-itemid="' + obj.itemrealID + '"]');
                    $timeout(function () {
                        currentButton.prop('checked', false);
                        currentButton.triggerHandler("click");
                    });

                    //console.log(obj);
                    //itemname

                    //var currentButton = angular.element('.itemFilters[data-catgID="0"][data-itemid="1"]');
            

                    //$('.itemFilters[data-catgID="0"][data-itemid="1"]').trigger('click');
                    //angular.element('.itemFilters[data-catgID="0"][data-itemid="1"]').triggerHandler('click');
                    //$rootScope.$apply(function () {
                    //    console.log('0000111');
                    //    $('.itemFilters').first().trigger('click');
                    //});

                }

            })
            .controller('tadbekMadaSerachCtrl', function ($scope) {
               // function TestMadaSearch() {
                    var Data = {};
                    Data.MadaObj = {
                        SearchInMadaText: false,
                        CountryIds: '1,2,3,4,5,6',
                        TashNo: '1-150'
                        , SearchPredicate: { Input: '' }

                    };
                    Data.Options = {
                        SortBy: 3
                    };
                    Data.TasfeyaSelection = {

                    };


                    //$.post('/Ahkam/SearchResultAssemblyMada/', Data, function (Return) {
                    //    alert(Return);
                    //});

                //}

                $scope.search = function () {
                    $.post('/Ahkam/SearchResultAssemblyMada/', Data, function (Return) {
                       // alert(Return);

                        $('#searchResult').html(Return);
                    });
                }
            })
            .factory('tasfiaData', function ($http, $rootScope) {
                var data = {};
                data.list = [];

                data.PushList = function (itemid, itemname, itemcount, itemcatgID, itemrealID) {
                    data.list.push({ itemid, itemname, itemcount ,itemcatgID,itemrealID});
                 }

               //   data.splice = function (itemname) {
               //     data.list.splice(data.list.indexOf(itemname), 1);
                //}

                  data.spliceObj = function (obj) {
                      for (var i = 0; i < data.list.length; i++) {
                          if (data.list[i].itemcatgID == obj.CategoryID)
                          {
                              data.list.splice(i, 1);
                          }
                      }

                  //  data.list.splice(data.list.indexOf(obj), 1);
                  }

                  data.clearall = function () {
                      data.list.splice(0, data.list.length);
                      //for (var i = 0; i < data.list.length; i++) {
                          
                      //        data.list.splice(i, 1);
                        
                      //}
                  }


                return data;
            })
             .factory('tasfiaAllData', function ($http, $rootScope, tasfiaData) {
          var datalist = {};
            //    //datalist.listAllTasfya = [];
            //    //datalist.listAllCatg = [];


            //    //console.log(SearchData.AssembleSearchInputs);

            //    //datalist.getTasyaList = function () {

            //    //    $('#tasfyaLood').show();
            //    //    $('#Div-tasfya').hide();
            //    //    $http.get('/Ahkam/TasfyaListJson?QueryID=' + $('#queryHandle').val() + '', {}).then(function (d) {
            //    //        console.log(d.data[0])
            //    //        console.log(d.data[1])
            //    //        $('#Div-tasfya').show(); $('#tasfyaLood').hide();
            //    //        datalist.listAllTasfya = d.data[0][1];
            //    //        datalist.listAllCatg = d.data[1][1];
            //    //        $rootScope.$broadcast('getTasfiyaList');
            //    //    })

            //    //}
                 return datalist;
             })
            .directive('onFinishRender', function ($timeout) {
                return {
                    restrict: 'A',
                    link: function (scope, element, attr) {
                        if (scope.$last === true) {
                            $timeout(function () {
                                scope.$emit('ngRepeatFinished');
                            });
                        }
                    }
                }
            });



        })();





   


    </script>
