@{
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
    ViewBag.Title = "أحكام المحاكم العربية العليا ";
}

<div class="title-module">
    <h1><span class="main-title">منظومة أحكام المحاكم العربية</span></h1>

</div>
<hr class="spacer" />
@Html.Partial("_ManzomatLinks")

<div class="main" ng-app="ahkamApp">
    <div class="col-lg-12" ng-controller="ahkamCtrl">
        <!-- Nav tabs -->
        <div class="card">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"  class="active"><a href="#assembleSearch" aria-controls="assembleSearch" role="tab" data-toggle="tab">بحث</a></li>
                @*<li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"> بحث عام</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">بحث متقدم</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">بحث متخصص</a></li>
                <li role="presentation"><a href="#allSearch" aria-controls="home" role="tab" data-toggle="tab"> بحث عام 2</a></li>*@
                <li role="presentation"><a href="#mada" aria-controls="mada" role="tab" data-toggle="tab">بحث بتطبيقات المادة</a></li>
            </ul>




            <!-- Tab panes -->
            <div class="tab-content">

                <div role="tabpanel" class="tab-pane active" id="assembleSearch">
                    <div class="search-form form-horizontal" ng-controller="assembleSearchCtrl">@Html.Partial("_AssembleSearch")</div>
                </div>

                <div role="tabpanel" class="tab-pane " id="home">
                    <div class="search-form form-horizontal" ng-controller="GeneralSearchCtrl"> @Html.Partial("_GeneralSearch")</div>
                </div>

                    <div role="tabpanel" class="tab-pane" id="profile">
                        <div class="search-form form-horizontal" ng-controller="AdvancedSearchCtrl"> @Html.Partial("_AdvancedSearch")</div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="messages">
                        <div class="search-form form-horizontal" ng-controller="SpecialSearchCtrl"> @Html.Partial("_SpecialSearch")</div>
                    </div>

                <div role="tabpanel" class="tab-pane " id="allSearch">
                    <div class="search-form form-horizontal" ng-controller="GeneralSearchCtrl"> @Html.Partial("_GeneralSearch2")</div>
                </div>

                    <div role="tabpanel" class="tab-pane" id="mada">
                        <div class="search-form form-horizontal">@Html.Partial("_tadbekMadaSearch")</div>
                    </div>

                </div>
            </div>
            <div class="result-search">
                <p class="total-chart" id="TotalCount"> </p>

                <div class="col-lg-9 col-md-8  col-sm-8 list-content">
                    <!-- Formating result -->
                    <div class="format-result" ng-controller="SortCtrl">

                        @Html.Partial("_toolbar")
                    </div>


                    <div class="filter-element" ng-controller="filterElementCtrl">@Html.Partial("_filterElement") 
                        @*<div class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-font "></i> حجم الخط  </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" ng-click="size(20)">كبير</a></li>
                                <li><a href="#"  ng-click="size(15)">متوسط</a></li>
                                <li><a href="#"  ng-click="size(10)">صغير</a></li>

                            </ul>
                        </div>*@

                    </div>
                    <hr class="spacer" />

                    <div id="searchResult" ng-controller="searchResultCtrl" >
                        
                    </div>
                    <hr class="spacer" />
                    <div class="paging-search text-center" ng-controller="pagesCtrl">

                        <h1 id="pagenumber"></h1>
                        <c-pageing ng-show="pageCount > 1"
                                   on-init="initPaging"
                                   pages-count="{{pageCount}}"
                                   limit-no="10"
                                   current-page="mypage"
                                   on-getpage="getmypage()">

                        </c-pageing>


                    </div>



                </div>

                <div class="col-lg-3 col-md-4 col-sm-4 filter-search" ng-controller="tasfyaCtrl">

                      <div id="TasfyaSearch"></div>
                    @*@Html.Partial("TasfyaSearch")*@
                </div>

                <hr class="spacer" />
            </div>
            <hr class="spacer" />
        </div>
    </div>



    <script>
      
        // tomorrow Task
        //convert rootscope to service
        "use strict";
        (function () {

            var app = angular.module('ahkamApp', ['ngSanitize','sharedModule']);
            app
            .controller('ahkamCtrl', function ($http, $rootScope, SearchData) {


             
                SearchData.searchType = -2; // load
                SearchData.CountSearchChange = 1;
                $rootScope.currentPage = 1;
                $rootScope.sortType = 5;
                SearchData.GetSearch();


            })
             .controller('assembleSearchCtrl', function ($scope, SearchData, $rootScope, $http) {
                 $scope.Inputs = {};
                 $scope.choiceMahakem = [];

                 $scope.countries = [];
                 $scope.Mahakem = [];
                 $scope.MahkamaReplies = [];
          

                 $scope.updatecountry = function () {
                     $scope.Mahakem = [];
                     $scope.choiceMahakem = [];
                     $scope.Inputs.country = $scope.country.ID;
                     if ($scope.country.ID > 0) {
                         $http.get('/Ahkam/GetMahakem?countryID=' + $scope.country.ID + '', {}).then(function (d) {
                             $scope.Mahakem = d.data;
                         });
                     }
                 }

                 $http.get('/Ahkam/GetCountries', {}).then(function (d) {
                     $scope.countries = d.data;
                     $scope.countries.unshift({ ID: 0, Name: 'جميع الدول' });
                     $scope.country = { ID: 0 };
                     $scope.updatecountry();
                 });

                 $scope.updateMahkamaReplies = function () {
                     $scope.Inputs.MahkamaReplay = $scope.MahkamaReplay.ID;
                 }

                 $http.get('/Ahkam/GetMahkamaReplies', {}).then(function (d) {
                     $scope.MahkamaReplies= d.data;
                     $scope.MahkamaReplies.unshift({ ID: 0, Name: 'الكل' });
                     $scope.MahkamaReplay = { ID: 0 };
                     $scope.updateMahkamaReplies();
                 });


                 $scope.MahakemCheck = function (id, event) {
                     if (event.target.checked) {
                         $scope.choiceMahakem.push(id);
                     } else {
                         $scope.choiceMahakem.splice($scope.choiceMahakem.indexOf(id), 1);
                     }

                     $scope.Inputs.mahakem = $scope.choiceMahakem.join(',');
                 }
              
                 $scope.omarGroupChecked = function (event) {
                     if (event.target.checked) {
                         $scope.Inputs.omarGroup = 'ع';
                     } else {
                         $scope.Inputs.omarGroup = '';
                     }
                 }
                
               //  $scope.Inputs.textType = 1; //default radio checked


                 $scope.search = function () {
                     SearchData.AssembleSearchInputs = $scope.Inputs;
                     $rootScope.currentPage = 1;
                     SearchData.searchType = 0; // assemble Search
                     SearchData.CountSearchChange = 1;

                     SearchData.GetSearch();

                 };
              })
            .controller('GeneralSearchCtrl', function ($scope, SearchData, $rootScope, $compile) {
                $scope.Inputs = {};
                $scope.Inputs.textType = 1; //default radio checked


                $scope.search = function () {
                    SearchData.GeneralSearchInputs = $scope.Inputs;
                    $rootScope.currentPage = 1;
                    SearchData.searchType = 1; // GeneralSearch
                    SearchData.CountSearchChange = 1;
                    SearchData.GetSearch();
                 
                };




            })
            .controller('AdvancedSearchCtrl', function ($scope, SearchData, $rootScope) {
                $scope.Inputs = {};
                $scope.Inputs.ElementsTypeChoice = 1;


                $scope.search = function () {
                    SearchData.AdvancedSearchInputs = $scope.Inputs;
                    $rootScope.currentPage = 1;
                    SearchData.searchType = 2; // AdvancedSearch
                    SearchData.CountSearchChange = 1;

                    SearchData.GetSearch();


                    //console.log($scope.waka23SearchType)
                }

            })
            .controller('SpecialSearchCtrl', function ($scope) {
  
            })
            .controller('pagesCtrl', function ($scope, SearchData, $rootScope) {

                $scope.getmypage = function () {
                    //alert($scope.mypage);
                    $rootScope.currentPage = $scope.mypage;
                    if ($rootScope.currentPage !== undefined) {
                        SearchData.CountSearchChange = 0;
                        SearchData.GetSearch();
                    }
                }
                $scope.getmypage();
            })
            .controller('tasfyaCtrl', function ($scope, tasfiaData, SearchData, $rootScope, $compile) {

                var cleantasfia = $rootScope.$on('tasfyaResult', function () {
                    $compile($('#TasfyaSearch'))($scope);

                });
                $scope.$on('$destroy', function () {
                    cleantasfia();
                });
                $scope.list = tasfiaData.list;
           
                $scope.changeCheck = function (val, event) {

                    //can be better and send as one object
                    var itemid = event.target.id;
                    var itemname = event.target.attributes.dataname.value;
                    var itemcount = event.target.attributes.datacount.value;
                    if (val === true) {
                      tasfiaData.PushList(itemid, itemname, itemcount);
                        $('#' + itemid).parent().addClass('active');
                    }
                    else {
                        $('#' + itemid).parent().removeClass('active');
                        tasfiaData.splice(itemname)
                    }

                    ////Search
                    $rootScope.currentPage = 1;
                    SearchData.CountSearchChange = 1;
                   SearchData.GetSearch();
                }
            })
            .controller('filterElementCtrl', function ($scope, tasfiaData, SearchData, $rootScope, $compile) {

                $scope.list = tasfiaData.list;
                $scope.delete = function (obj) {
                    tasfiaData.spliceObj(obj);
                    $('#' + obj.itemid + '').prop('checked', false);

                    //Search
                    $rootScope.currentPage = 1;
                    SearchData.CountSearchChange = 1;
                    SearchData.GetSearch();
                }

                //$scope.size = function (val) {
                //    $scope.fontsize = val;
                //  //  $rootScope.fontsize = val;
                //   // $compile($('#searchResult'))($scope);
                //  //  alert($rootScope.fontsize)
                //}
            })
            .controller('searchResultCtrl', function ($scope, $rootScope, $compile, SearchData) {
             $rootScope.fontsize = 15;
                //$scope.fontsize = SearchData.fontsize;
                //$rootScope.$on('changeResult', function () {
                //    $compile($('#searchResult'))($scope);
                  
                //});

               
         })
             .controller('SortCtrl', function ($scope, SearchData, $rootScope) {
                 $scope.changeSort = function (type) {
                     $rootScope.sortType = type;
                     SearchData.CountSearchChange = 0;
                     SearchData.GetSearch();
                 }
             })
            app.factory('SearchData', function ($http, $rootScope, $compile) {
               // $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded;charset=utf-8';

                var data = {};
                data.searchType = 1;      //GeneralSearch 1   advancedserch 2  .... etc
                data.CountSearchChange = 0;     //1 CountSearch Change    0 CountSearch not Change
                data.AssembleSearchInputs = {};
                data.GeneralSearchInputs = {};
                data.AdvancedSearchInputs = {};

           
                data.GetSearch = function () {
                   // alert($rootScope.sortType)
                    if (data.searchType === 0) // AssymbleSearch
                    {
                        $.post('/Ahkam/SearchResultAssembly', { "AssembleSearchInputs": data.AssembleSearchInputs, "PageNo": $rootScope.currentPage, "Sort": $rootScope.sortType }, function (d) {
                            searchOptionAfterAjax(d);
                        })
                    }
                    else if (data.searchType === -2) // loadPage
                    {
                        //$rootScope.sortType = 5;
                        $http.get('/Ahkam/Latest', {
                            params: { "Days": 10, "PageNo": $rootScope.currentPage, "Sort": $rootScope.sortType }
                        }).then(function (d) {
                      
                            searchOptionAfterAjax(d.data);
                        });
                    }
                    else if (data.searchType === 1) // GeneralSearch
                    {
                        $http.get('/Ahkam/SearchResult',
                            {
                                params: {
                                    "searchtype": data.searchType, "Countsearchchange": data.CountSearchChange,
                                    "PageNo": $rootScope.currentPage, "Match": data.GeneralSearchInputs.textType, "q": data.GeneralSearchInputs.text
                                }
                            }).then(function (d) {
                                searchOptionAfterAjax(d);

                            });

                    }
                    else if (data.searchType === 2) // AdvancedSearch
                    {
                        let txtsearch = data.AdvancedSearchInputs.Mabdaa;

                        $http.get('/Ahkam/SearchResult',
                            { params: { "q": txtsearch } }).then(function (d) {
                                $('#searchResult').html(d.data);

                                $('#pagenumber').html(testData(data.searchType,
                                                       data.CountSearchChange,
                                                       $rootScope.currentPage,
                                                       data.AdvancedSearchInputs));
                                if ($rootScope.currentPage == 1) {
                                    InitPageingControl(28)
                                }

                            });

                    }
                };

                function searchOptionAfterAjax(d) {
                 //   $('#searchResult').html('00000000000000000')
                    var searchresult = $('#searchResult');
                    searchresult.html(d);
                //   console.log(d)
                    if (searchresult.find('#resultCount').length) {
                        if (data.CountSearchChange == 1) {
                            $rootScope.pageCount = 0;
                            var TotalCount = $("#resultCount").val();
                            $('#TotalCount').html('');
                    
                            if (TotalCount > 0) {
                                $('#TotalCount').html(" <i class='fa fa-line-chart '></i> وجد اجمالي [" + TotalCount + "] حكم")
                            }
                  
                            if (($rootScope.currentPage == 1) ||($rootScope.currentPage == undefined)) {
                                var countpage = 1;
                                if (TotalCount > 10) {
                                    countpage = Math.ceil(TotalCount / 10);
                                }
                                $rootScope.pageCount = countpage;
                                InitPageingControl(countpage);
                            }

                            //tasfia
                            $http.get('/Ahkam/TasfyaSearch', {}).then(function (d) {
                                // console.log('-------------------');
                                $('#TasfyaSearch').html(d.data);
                                $rootScope.$broadcast("tasfyaResult", true);
                            })
                        }
                    }

                }
                function InitPageingControl(pagecount) {
                    if (pagecount > 1) {
                        $rootScope.pageCount = pagecount;
                        $rootScope.$broadcast('initPaging'); // re_init pageing controll
                    }
                }

                function testData(typeSearch, CountSearchChange, pagenumber, object) {
                    var html = '';
                    var jsonObj = $.parseJSON(JSON.stringify(object));

                    html += '<br/>';
                    html += 'search Type :>> ' + typeSearch;
                    html += '<br/>';
                    html += 'is count result change :>> ' + CountSearchChange;
                    html += '<br/>';
                    html += 'Page Number :>> ' + pagenumber;
                    html += '<br/>';
                    $.each(jsonObj, function (k, v) {
                        html += '' + k + ' : ' + v + ' ' + '</br>';
                    });

                    return html;
                }
                return data;
            })
             .factory('tasfiaData', function () {
                 var data = {};
                 data.list = [];
                 //can be better and send as one object
                 data.PushList = function (itemid, itemname, itemcount) {
                     data.list.push({ itemid, itemname, itemcount });
                 }

                 //dublicated function -- delete one after merge
                 data.splice = function (itemname) {
                     data.list.splice(data.list.indexOf(itemname), 1);
                 }
                 data.spliceObj = function (obj) {
                     data.list.splice(data.list.indexOf(obj), 1);
                 }

                 return data;
             });
           
        })();

    </script>
