@{
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
    ViewBag.Title = "أحكام المحاكم العربية العليا ";
 }

<div class="title-module">
    <h1><span class="main-title">منظومة أحكام المحاكم العربية</span></h1>
    <p>أنتجت إدارة قوانين الشرق منظومة أحكام المحاكم العربية العليا بعد أن قامت بتحليل اتجاهات الأحكام ،</p>
</div>
<hr class="spacer" />
@Html.Partial("_ManzomatLinks")

<div class="main" ng-app="ahkamApp">
    <div class="col-lg-12" ng-controller="ahkamCtrl">
        <!-- Nav tabs -->
        <div class="card">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"> بحث عام</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">بحث متقدم</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">بحث متخصص</a></li>
                <li role="presentation"><a href="#mada" aria-controls="mada" role="tab" data-toggle="tab">بحث بتطبيقات المادة</a></li>
            </ul>

            <!-- Tab panes -->
       <div class="tab-content">

             <div role="tabpanel" class="tab-pane active" id="home">
                   <div class="search-form form-horizontal" ng-controller="GeneralSearchCtrl"> @Html.Partial("_GeneralSearch")</div>
             </div>
              
             <div role="tabpanel" class="tab-pane" id="profile">
                   <div class="search-form form-horizontal" ng-controller="AdvancedSearchCtrl"> @Html.Partial("_AdvancedSearch")</div>
             </div>

             <div role="tabpanel" class="tab-pane" id="messages" >
                   <div class="search-form form-horizontal" ng-controller="SpecialSearchCtrl"> @Html.Partial("_SpecialSearch")</div>
              </div>

             <div role="tabpanel" class="tab-pane" id="mada">
                 <div class="search-form form-horizontal">@Html.Partial("_tadbekMadaSearch")</div>
              </div>

          </div>
        </div>
        <div class="result-search">
            <p class="total-chart"> <i class="fa fa-line-chart "></i> وجد اجمالي [68] تشريع </p>
    
            <div class="col-lg-9 col-md-8  col-sm-8 list-content">
                <!-- Formating result -->
                <div class="format-result">

                    @Html.Partial("_toolbar")
                </div>


                <div class="filter-element">@Html.Partial("_filterElement") </div>
                <hr class="spacer" />

                <div id="searchResult"></div>
                <hr class="spacer" />
                <div class="paging-search text-center" ng-controller="pagesCtrl">

                    <h1 id="pagenumber"></h1>
                    <c-pageing ng-show="pageCount > 1" 
                               on-init="initPaging"
                               pages-count="{{pageCount}}"
                               limit-no="10"
                               current-page="mypage"
                               on-getpage="getmypage()">

                    </c-pageing>

                   
                </div>
              
 

            </div>

            <div class="col-lg-3 col-md-4 col-sm-4 filter-search"> @Html.Partial("TasfyaSearch")</div>

            <hr class="spacer" />
        </div>
        <hr class="spacer" />
    </div>
</div>



<script>

    // tomorrow Task
    //convert rootscope to service
    "use strict";
    (function () {
        var app = angular.module('ahkamApp', ['sharedModule']);
        app
        .controller('ahkamCtrl', function ($scope, SearchData) {
        })
        .controller('GeneralSearchCtrl', function ($scope, SearchData, $rootScope) {
            $scope.Inputs = {};
            $scope.Inputs.textType = 1; //default radio checked

            $scope.search = function () {
                SearchData.GeneralSearchInputs = $scope.Inputs;
                $rootScope.currentPage = 1;
                SearchData.searchType = 1; // GeneralSearch
                SearchData.CountSearchChange = 1;
                SearchData.GetSearch();

            };
        })
        .controller('AdvancedSearchCtrl', function ($scope, SearchData, $rootScope) {
            $scope.Inputs = {};
            $scope.Inputs.ElementsTypeChoice = 1;
           

            $scope.search = function () {
                SearchData.AdvancedSearchInputs = $scope.Inputs;
                $rootScope.currentPage = 1;
                SearchData.searchType = 2; // AdvancedSearch
                SearchData.CountSearchChange = 1;

                SearchData.GetSearch();


                //console.log($scope.waka23SearchType)
            }

        })
        .controller('SpecialSearchCtrl', function () { })
        .controller('pagesCtrl', function ($scope, SearchData, $rootScope) {

            $scope.getmypage = function () {
                $rootScope.currentPage = $scope.mypage;
                if ($rootScope.currentPage !== undefined) {
                    SearchData.CountSearchChange = 0;
                    SearchData.GetSearch();
                }
            }
            $scope.getmypage();
        });


        app.factory('SearchData', function ($http, $rootScope) {
            var data = {};
            data.searchType = 1;      //GeneralSearch 1   advancedserch 2  .... etc
            data.CountSearchChange = 0;     //1 CountSearch Change    0 CountSearch not Change
           // data.SearchInputs = {};   //all search factories
            data.GeneralSearchInputs = {};
            data.AdvancedSearchInputs = {};


 

            data.GetSearch = function () {
                if (data.searchType === 1) // GeneralSearch
                {
                    let txtsearch = data.GeneralSearchInputs.text;
                    $http.get('/Ahkam/SearchResult',
                        { params: { "q": txtsearch } }).then(function (d) {
                            $('#searchResult').html(d.data);
                            $('#pagenumber').html(testData( data.searchType, data.CountSearchChange,$rootScope.currentPage, data.GeneralSearchInputs));
                            if ($rootScope.currentPage == 1)
                            {
                                InitPageingControl(28)
                            }
                        });

                }
                else if (data.searchType === 2) // AdvancedSearch
                {
                    let txtsearch = data.AdvancedSearchInputs.Mabdaa;
                     
                        $http.get('/Ahkam/SearchResult',
                            { params: { "q": txtsearch } }).then(function (d) {
                                $('#searchResult').html(d.data);

                                $('#pagenumber').html(testData(data.searchType,
                                                       data.CountSearchChange,
                                                       $rootScope.currentPage,
                                                       data.AdvancedSearchInputs));
                                if ($rootScope.currentPage == 1) {
                                    InitPageingControl(28)
                                }

                            });

                       
                }
            };



            function InitPageingControl(pagecount)
            {
                if (pagecount > 1) {
                    $rootScope.pageCount = pagecount;
                    $rootScope.$broadcast('initPaging'); // re_init pageing controll
                }
            }

            function testData(typeSearch, CountSearchChange, pagenumber, object) {
                var html = '';
                var jsonObj = $.parseJSON(JSON.stringify(object));

                html += '<br/>';
                html += 'search Type :>> ' + typeSearch;
                html += '<br/>';
                html += 'is count result change :>> ' + CountSearchChange;
                html += '<br/>';
                html += 'Page Number :>> ' + pagenumber;
                html += '<br/>';
                $.each(jsonObj, function (k, v) {
                    html += '' + k + ' : ' + v + ' ' + '</br>';
                });

                return html;
            }
            return data;
        });

    })();

</script>
