@{
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
    ViewBag.Title = "أحكام المحاكم العربية العليا ";
}

<div class="title-module">
    <h1><span class="main-title">منظومة أحكام المحاكم العربية</span></h1>

</div>
<hr class="spacer" />
@Html.Partial("_ManzomatLinks")

<div class="main" ng-app="ahkamApp">
    <div class="col-lg-12" ng-controller="ahkamCtrl">
        <div class="card">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"  class="active"><a href="#assembleSearch" aria-controls="assembleSearch" role="tab" data-toggle="tab">بحث</a></li>
                <li role="presentation"><a href="#mada" aria-controls="mada" role="tab" data-toggle="tab">بحث بتطبيقات المادة</a></li>
            </ul>


            <div class="tab-content">

                <div role="tabpanel" class="tab-pane active" id="assembleSearch">
                    <div class="search-form form-horizontal"
                         ng-controller="assembleSearchCtrl">@Html.Partial("_AssembleSearch")</div>
                </div>

                    <div role="tabpanel" class="tab-pane" id="mada">
                        <div class="search-form form-horizontal">@Html.Partial("_tadbekMadaSearch")</div>
                    </div>

                </div>
            </div>
            <div class="result-search">
                <p class="total-chart" id="TotalCount"> </p>

                <div class="col-lg-9 col-md-8  col-sm-8 list-content">
                    <div class="format-result" ng-controller="toolbarCtrl"> @Html.Partial("_toolbar")</div>
                    <div class="filter-element" ng-controller="filterElementCtrl">@Html.Partial("_filterElement") </div>
                   
                     <hr class="spacer" />

                    <div id="searchResult" ng-controller="searchResultCtrl" ></div>
                    <hr class="spacer" />
                   
                     <div class="paging-search text-center" ng-controller="pagesCtrl">
                        <c-pageing ng-show="pageCount > 1" 
                                   on-init="initPaging" 
                                   pages-count="{{pageCount}}" limit-no="10" current-page="mypage" on-getpage="getmypage()">
                        </c-pageing>
                    </div>

                </div>
              
                <div class="col-lg-3 col-md-4 col-sm-4 filter-search" ng-controller="tasfyaCtrl">
               
                    @*@Html.Partial("TasfyaSearch")*@
                      @*<div id="TasfyaSearch"></div> *@
                    <div id="tasfyaLood" style="display:none"><img src="/content/images/preload.gif" /></div>
                        <div id="Div-tasfya" style="display:none">
                            @*<div class='filter-section' ng-repeat="data in catList | unique: 'CategoryID'">
                                <h5>{{catgoryName(data.CategoryID)}}</h5>
                                <div class='well' style='max-height:200px;overflow: auto;'>
                                    <ul class='list-group' style='max-height:200px;overflow: auto;'>
                                        <li ng-repeat="details in catList | filter :{CategoryID:data.CategoryID}" class='list-group-item'>
                                            <input type='checkbox' ng-click='changeCheck(details,$event)' />&nbsp; <label> {{details.Name}} - ({{details.Count}})</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>*@

                            <div class='filter-section' ng-repeat="data in categoryList">
                                <h5>{{data.Name}}</h5>
                                <div class='well' style='max-height:200px;overflow: auto;'>
                                    <ul class='list-group' style='max-height:200px;overflow: auto;'>
                                        <li ng-repeat="details in tasfyaList | filter :{CategoryID:data.ID} | limitTo:20" class='list-group-item'>
                                            <input type='checkbox' ng-click='changeCheck(details,$event)' />&nbsp; <label> {{details.Name}} - ({{details.Count}})</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                <hr class="spacer" />
            </div>
            <hr class="spacer" />
        </div>
    </div>



    <script>
      
        //************** tasks ***********************//
        //------------- done ------------------- >>>> looooooooding  
        //-------------- done ------------------ >>>> OMAR GROUP show and hide with egypt country
        //------------  done ---------------- >>>> select all and none select all
        //---------------  done  --------------- >>>> when user sernd all contries or all ma7akem (send as null)
        //------------- done --------------- >>> change font size
        //-------------------------------- >>> filter section from server
        //-------------------------------- >>> desc and asc in sort
        //-------------------------------- >>> table height equal to hokm div
        //-------------------------------- >>> scroll page
        //-------------------------------- >>> convert $rootscope to service
        //-------------------------------- >>> fixed Paging bugs
        //-------------------------------- >>> hide and show right section
        //-------------------------------- >>> arrange js code 
        //-------------------------------- >>> switch between  3 type views  changes in css only 
        
        "use strict";
        (function () {

            var app = angular.module('ahkamApp', ['ngSanitize','sharedModule']);
            app
            .controller('ahkamCtrl', function ($http, $rootScope, SearchData) {

        
                //SearchData.searchType = -2; 
                SearchData.searchType = 0;
                SearchData.newSearch = 1;
                SearchData.SortChange=0;
                $rootScope.currentPage = 1;
                $rootScope.sortType = 5;
                SearchData.Latest = true;
                SearchData.GetSearch();


            })
             .controller('assembleSearchCtrl', function ($scope, SearchData, $rootScope, $http) {
                 $scope.omarGroupShow = false;
                 $scope.Inputs = {};
                 $scope.date = {};
                 

                 $scope.choiceMahakem = [];

                 $scope.countries = [];
                 $scope.Mahakem = [];
                 $scope.MahkamaReplies = [];
    

                 $scope.updatecountry = function () {
                     $scope.omarGroupShow = false;
                     $scope.Mahakem = [];
                     $scope.choiceMahakem = [];
                     $scope.Inputs.country = $scope.country.ID;
                     $scope.Inputs.mahakem = "";
                     if ($scope.country.ID > 0) {

                         $http.get('/Ahkam/GetMahakem?countryID=' + $scope.country.ID + '', {}).then(function (d) {
                             $scope.Mahakem = d.data;
                         });
                         if ($scope.country.ID == 1) {
                             $scope.omarGroupShow = true;
                         } 
                     } 
                 }

                 $http.get('/Ahkam/GetCountries', {}).then(function (d) {
                     $scope.countries = d.data;
                     $scope.countries.unshift({ ID: 0, Name: 'جميع الدول' });
                     $scope.country = { ID: 0 };
                     $scope.updatecountry();
                 });

                 $scope.updateMahkamaReplies = function () {
                     $scope.Inputs.MahkamaReplay = $scope.MahkamaReplay.ID;
                 }

                 $scope.selectCheckboxes = function (val) {
                     if (val === 1)
                     {
                         $('.ma7kama_checkbox').prop('checked', true);
                         $scope.Mahakem.forEach(function (e) {
                             $scope.choiceMahakem.push(e.ID);
                         });
                         $scope.Inputs.mahakem = $scope.choiceMahakem.join(',');
                     }
                     else if (val === 0)
                     {
                         $('.ma7kama_checkbox').prop('checked', false);
                         $scope.choiceMahakem.splice(0, $scope.choiceMahakem.length);
                         $scope.Inputs.mahakem = '';
                     }
                 }

                 $http.get('/Ahkam/GetMahkamaReplies', {}).then(function (d) {
                     $scope.MahkamaReplies= d.data;
                     $scope.MahkamaReplies.unshift({ ID: 0, Name: 'الكل' });
                     $scope.MahkamaReplay = { ID: 0 };
                     $scope.updateMahkamaReplies();
                 });


                 $scope.MahakemCheck = function (id, event) {
                     if (event.target.checked) {
                         $scope.choiceMahakem.push(id);
                     } else {
                         $scope.choiceMahakem.splice($scope.choiceMahakem.indexOf(id), 1);
                     }
                     $scope.Inputs.mahakem = $scope.choiceMahakem.join(',');
                 }
              
                 $scope.omarGroupChecked = function (event) {
                     if (event.target.checked) {
                         $scope.Inputs.omarGroup = 'ع';
                     } else {
                         $scope.Inputs.omarGroup = '';
                     }
                 }
              
 
                 function setAllMhakem()
                 {
                     if ($scope.Mahakem.length === $scope.choiceMahakem.length)
                     { $scope.Inputs.mahakem = ''; }
                 }

                 $scope.search = function () {
                     setAllMhakem();

                     SearchData.searchType = 0;
                     SearchData.newSearch = 1;
                     SearchData.SortChange = 0;
                     $rootScope.currentPage = 1;
                     SearchData.AssembleSearchInputs = $scope.Inputs;
                     SearchData.Latest = false;
                     SearchData.GetSearch();


                 };
              })
         
            .controller('pagesCtrl', function ($scope, SearchData, $rootScope) {
                $scope.getmypage = function () {
                    $rootScope.currentPage = $scope.mypage;
                    if ($rootScope.currentPage !== undefined) {
                        SearchData.newtasfya = false;
                        SearchData.newSearch = 0;
                        SearchData.GetSearch();
                    }
                }
                $scope.getmypage();
            })
       
            .controller('searchResultCtrl', function ($scope) {
                $(document).on('click', '.hokmView', function () {
                    $(".hokmView").removeClass("active");
                    if ($(this).hasClass("active")) {

                        $(this).removeClass("active");
                    } else {
                        $(this).addClass("active");
                    }
                    var idHokm = $(this).data('idhokm');
                    $.get('/Ahkam/FullHokmView', { 'ID': idHokm },function (data) {
                            $('#hokmview').html(data)
                        });
                })

             })
            .controller('toolbarCtrl', function ($scope, SearchData, $rootScope) {
                $scope.pageSizes = [10, 50, 100];
                $scope.pSize = 10;
                $scope.sortTitle = " النتائج";
      
                $scope.fontsize = function (size) {

                    // var sizearr = [0.7, 0.8, 0.9, 1, 1.1, 1.2, 1.3];
                    var sizearr = [8.5,10.5,14, 12.5, 16.5,18.3,20];
                    var currentSize = parseFloat($('.fakra-text').css('font-size')) ;
                    if (size == '+')
                    {
                      
                        var newsize = sizearr.findElemnet(currentSize,'next');
                        $('.fakra-text').css('font-size', newsize + 'px');
                    }
                    else if (size == '-')
                    {
                        var newsize = sizearr.findElemnet(currentSize, 'prev');
                        $('.fakra-text').css('font-size', newsize + 'px');
                     } else
                    {
                        $('.fakra-text').css('font-size', 14 + 'px');
                    }
                }

                 $scope.changeSort = function (type) {
                     $rootScope.sortType = type;
                     $rootScope.currentPage = 1;
                     SearchData.newtasfya = false;
                     SearchData.GetSearch();
                     switch (type)
                     {
                         case 1:
                             {
                                 $scope.sortTitle = "  برقم الحكم ";
                                 break;
                             }
                         case 2:
                             {
                                 $scope.sortTitle = "بالسنة القضائية";
                                 break;
                             }
                         case 3:
                             {
                                 $scope.sortTitle = " بتاريخ الحكم";
                                 break;
                             }
                         default:
                             $scope.sortTitle = "النتائج";
                             break;
                     }
                    
                 }
                 $scope.changePageSize = function (size)
                 {
         
                     $scope.pSize = size;
                     $rootScope.currentPage = 1;
                     SearchData.currentPage = 1;
                     SearchData.pageSize = $scope.pSize;
                     SearchData.newtasfya = false;
                     SearchData.GetSearch();
                
   
                 }

                 $scope.changeTypeView = function (v)
                 {
            
                     SearchData.typeView = v;
                     SearchData.newtasfya = false;
                     SearchData.GetSearch();

                 }

             })
            app.factory('SearchData', function ($http, $rootScope, $compile, tasfiaData, tasfiaAllData) {
                var data = {};
                data.searchType = 1;             //GeneralSearch 1   advancedserch 2  .... etc
                data.InitPageing = 1;
                //  data.CountSearchChange = 0;      //1 CountSearch Change    0 CountSearch not Change
                data.newSearch = 0;
              //  data.SortChange = 0;             // 1 SortChanged 0 No
                data.pageSize = 10;
                data.AssembleSearchInputs = {};
                data.GeneralSearchInputs = {};
                data.AdvancedSearchInputs = {};
                data.TotalCount = 0;
                data.currentPage = 1;
                data.typeView = 2;  //rows - grid - table 
             
                data.days = 10;
                data.Latest = true;
                data.newtasfya = true;

                data.GetSearch = function () {
                  
                    if (data.searchType === 0) // AssymbleSearch
                    {
                       // console.log(data.Latest + '   ' + data.typeView + '   ' + data.searchType + '  ' + $rootScope.currentPage)
                        //until to be servise not rootscope
                        if (($rootScope.currentPage == 0) || ($rootScope.currentPage == undefined))
                        {

                            $rootScope.currentPage = 1;
                        }
                     //   console.log(data.AssembleSearchInputs);
                        $('#searchResult').html('<img src="/content/images/preload.gif" />');
                        $.post('/Ahkam/SearchResultAssembly', {
                            "AssembleSearchInputs": data.AssembleSearchInputs,
                            "PageNo": $rootScope.currentPage,
                            "Sort": $rootScope.sortType,
                            "pageSize": data.pageSize,
                            "Latest": data.Latest,
                            "Days": data.days,
                            "typeView": data.typeView
                        }, function (d) {
                            searchOptionAfterAjax(d);
                            //if (data.newtasfya == true) {
                            //    //  $scope.apply(function () {
                            //    getTasfya();
                            //    //});
                            //}
                        });
                    }
                  

                };

              function HtmlResultCount() {
                  data.TotalCount = $("#resultCount").val();
                  $('#TotalCount').html('');
                  if (data.TotalCount > 0) {
                      $('#TotalCount').html(" <i class='fa fa-line-chart '></i> وجد اجمالي [" + data.TotalCount + "] حكم")
                  }
              }

              function getTasfya() {
                 
                  tasfiaAllData.getTasyaList();
                 
               }

        
                function searchOptionAfterAjax(d) {
                    var searchresult = $('#searchResult');
                    searchresult.html(d);

                    $('body').animate({ scrollTop: $("#TotalCount").offset().top }, 1000, function () {
                        if (data.newtasfya == true) {
                            //  $scope.apply(function () {
                            getTasfya();
                            //});
                        }
                    });
     
                    if (searchresult.find('#resultCount').length) {
                        if (data.newSearch == 1) {
                            HtmlResultCount();
                           // getTasfya();
                        }

                      
                        if (($rootScope.currentPage == 1) || ($rootScope.currentPage == undefined)) {
                            var countpage = 1;
                            if (data.TotalCount > Number(data.pageSize)) {
                                countpage = Math.ceil(data.TotalCount / Number(data.pageSize));
                            }
                            $rootScope.pageCount = countpage;
                            if (countpage > 1) {
                                $rootScope.pageCount = countpage;
                                $rootScope.$broadcast('initPaging'); // re_init pageing controll
                            }

                        }

                        //sort and paging
                        //if (Number(data.currentPage) == 1) {
                        //    $rootScope.$broadcast('initPaging'); // re_init pageing controll
                        //}


                        //if (data.SortChange == 1) {
                        //    InitPageingControl($rootScope.pageCount);
                        //}

                    }

                }


                return data;
            })

     .controller('tasfyaCtrl', function ($scope, tasfiaData, SearchData, $rootScope, $compile, tasfiaAllData) {

         $scope.categoryList = [];
         $scope.tasfyaList = [];

         //$scope.catList = [];

         $rootScope.$on('getTasfiyaList', function () {
             $scope.categoryList = tasfiaAllData.listAllCatg;
             $scope.tasfyaList = tasfiaAllData.listAllTasfya;
           //  console.log($scope.tasfyaList)
            // $scope.catList = tasfiaAllData.listAllTasfya;
             
             console.log('tasfia event fire')
         });

         $scope.changeCheck = function (item,event) { 
             if ($(event.target).is(':checked')) {
               tasfiaData.PushList(item.CategoryID + '_' + item.ID, item.Name, item.Count);
               $(event.target).parent().addClass('active');

    

             } else {
                 tasfiaData.splice(item.Name)
                 $(event.target).parent().removeClass('active');

                 //filter    Update Filter Dynamic
                // $scope.catList.splice($scope.catList.indexOf(item), 1);
             }

         };

         $scope.catgoryName = function (ID) {
             var Name = '';
             switch (ID)
             {
                 case 0: { Name = 'الدولة'; break; }
                 case 1: { Name = 'المحكمه'; break; }
                 case 6: { Name = 'السنه'; break; }
                     default:{Name = ID}
             }
           //var  Country = 0, Ma7kama = 1, CrimeType = 2, RelatedTash = 3, Fehres = 4, Defoo3 = 5, Year = 6, JudgeYear = 7, Ma7kamaAction = 8
             return Name;
         }

       
         //$scope.$on('$destroy', function () {
         //    console.log('destroy')
         //    cleantasfia();
         //});
         //$scope.list = [];
         //$rootScope.$on('getTasfiyaList', function () {
         //    $scope.list = tasfiaData.list;
         //    console.log($scope.list)
         //});
     

        
             //can be better and send as one object
            // var itemid = event.target.id;
             //var itemname = event.target.attributes.dataname.value;
             //var itemcount = event.target.attributes.datacount.value;
             //var itemname = itemname;
             //var itemcount = itemcount;
             //    tasfiaData.PushList(1, 10, 200);
                 //$('#' + itemid).parent().addClass('active');

             //if (val === true) {
             //    tasfiaData.PushList(itemid, itemname, itemcount);
             //    $('#' + itemid).parent().addClass('active');
             //}
             //else {
             //    $('#' + itemid).parent().removeClass('active');
             //    tasfiaData.splice(itemname)
             //}

             ////Search
             //$rootScope.currentPage = 1;
             //SearchData.newSearch = 1;
             //SearchData.GetSearch();
         //}
     })

      app.controller('filterElementCtrl', function ($scope, tasfiaData, SearchData, $rootScope, $compile) {

                $scope.list = tasfiaData.list;
                $scope.delete = function (obj) {
                    tasfiaData.spliceObj(obj);
                    $('#' + obj.itemid + '').prop('checked', false);

                    //Search
                    //$rootScope.currentPage = 1;
                    //// SearchData.CountSearchChange = 1;
                    //SearchData.newSearch = 1;
                    //SearchData.GetSearch();
                }

            })
    app.factory('tasfiaData', function ($http, $rootScope) {
                var data = {};
                 data.list = [];
                 //can be better and send as one object
                 data.PushList = function (itemid, itemname, itemcount) {
                    
                     data.list.push({ itemid, itemname, itemcount });
                 }

                 //dublicated function -- delete one after merge
                 data.splice = function (itemname) {
                     data.list.splice(data.list.indexOf(itemname), 1);
                 }
                 data.spliceObj = function (obj) {
                     data.list.splice(data.list.indexOf(obj), 1);
                 }
                 //data.resetlist = function () {
                 //    data.list = [];
                 //}

                 return data;
            });




    app.factory('tasfiaAllData', function ($http, $rootScope, tasfiaData) {
                var datalist = {};
                datalist.listAllTasfya = [];
                datalist.listAllCatg = [];
                datalist.getTasyaList = function () {

                    $('#tasfyaLood').show();
                    $('#Div-tasfya').hide();
                    $http.get('/Ahkam/TasfyaListJson', {}).then(function (d) {
                        //console.log(d.data[0]);
                        $('#Div-tasfya').show(); $('#tasfyaLood').hide();
                        datalist.listAllTasfya = d.data[0][1];
                        datalist.listAllCatg = d.data[1][1];
                        $rootScope.$broadcast('getTasfiyaList');
                        

                    })


                }
                return datalist;
            });
            app.filter('unique', function () {
                return function (collection, keyname) {
                    var output = [], keys = [];
                    angular.forEach(collection, function (item) {
                        var key = item[keyname];
                        if (keys.indexOf(key) === -1) {
                            keys.push(key);
                            output.push(item);
                        }
                    });

                    return output;
                };
            })




            //---

        })();

        //---






    </script>
