@{
    Layout = null;

    var countrow = 0;
}
@model Eastlaws.Entities.AhkamPresentation

    @foreach (var item in Model.AhkamList)
    {
        var Fakra = Model.FakaratList.ToArray()[0];
       // var onfakra = Fakra.Where(@Fakra.ID == @item.ID);
        countrow +=1;
        <div class="result-block">

            <h4><i class="fa fa-bank fa-2x icon"></i></h4>
            <div class="row-search">
                @item.ID
                <h3><img src="~/Content/images/Flags/Small/@item.CountryFlagPic" width="16" height="11" alt="" />@item.FullName</h3>
                <p><a href="#">@Fakra.HokmID</a></p>
                <p class="signature"><i class="fa fa-pencil-square"></i> توقيع :<span> حسن زكي - وزير الأشغال</span></p>
                <div class="nav-control">
                    <ul>
                        <li><a href="#"><i class="fa fa-desktop"></i> قراءة النص</a></li>
                        <li><a href="#"><i class="fa fa-camera"></i> صورة التشريع</a></li>
                        <li><a href="#"><i class="fa fa-print"></i> طباعة </a></li>
                    </ul>
                </div>
                <hr class="spacer" />
            </div>
        </div>
        if (countrow % 3 == 0)
        {
        <hr class="spacer" />
        }
        }
        if(countrow==0)
        {
        <h3>لا يوجد نتائج</h3>
        }

