@using System.Text;
@using Eastlaws.Infrastructure;
@model Eastlaws.Entities.AhkamPresentation
@{
    Layout = null;

    var countrow = 0;
}
@*<script src="~/lib/jquery/dist/jquery.js"></script>*@
@*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
@*<link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/content/css/main.css" rel="stylesheet" />
<link href="~/content/css/responsive.css" rel="stylesheet" />*@ 





@if (Model != null)
{

    <input type="hidden" value="@Model.ResultsCount" id="resultCount" />
    <input type="hidden" value="@Model.QueryID" id="queryHandle" />
    <input type="hidden" value="@ViewBag.typeView" id="typeView" />

    @if (!string.IsNullOrWhiteSpace(Model.PresentationTitle))
    {
        <h4 class="text-center">
            <i class="fa fa-balance-scale" aria-hidden="true"></i>
            <span class="">
                @Model.PresentationTitle
            </span>
        </h4>

    }

    if ((ViewBag.typeView == 1))
    {

        <div class="view-law tabel-views widget  widget-table action-table">

            <div class="col-lg-6 col-md-6 widget-content">
                <div class="widget-header">

                    <h3>
                        <i class="fa fa-legal "></i>&nbsp;<span class="main-title">استعراض الأحكام العربية</span>
                    </h3>
                          </div>

                <div class="list-table">

                    <table id="tblAhkam" class="table table-striped table-bordered table-fixed table-responsive">
                        <thead>
                            <tr>
                                <th style="max-width:34px;">الدولة</th>
                                <th>المحكمه</th>
                                <th>رقم</th>
                                <th>السنة</th>
                            </tr>
                        </thead>
                        <tbody id="tabHokmBody">

                            @foreach (var item in Model.AhkamList)
                            {
                                <tr class="hokmView" data-idhokm="@item.ID">
                                    <td><img src="/Content/images/Flags/Small/@item.CountryFlagPic" class="color-tooltip" data-toggle="tooltip" data-placement="top" title="@item.CountryName" /> </td>
                                    @*<td>@item.CountryName</td>*@
                                    <td>@item.MahkamaName</td>
                                    <td style="font-size:0.82em;">@item.CaseNo</td>
                                    <td style="font-size:0.82em;">@item.CaseYear</td>
                                    @*<td style="font-size:0.82em;">
                                        @if ((item.CaseDate != null) && (item.CaseDate.ToString() != ""))
                                        {
                                            @DateTime.Parse(item.CaseDate.ToString()).ToString("dd/M/yyyy")

                                        }

                                    </td>*@
                                    @*<td>@item.OfficeSuffix</td>*@

                                </tr>

                            }


                        </tbody>
                    </table>

                </div>
            </div>
            <div class="col-lg-6 col-md-6 widget-content">
                <div class="widget-header">

                    <h3 class="pull-right">
                        <i class="fa fa-desktop fa"></i>&nbsp;<span class="main-title"> عرض الحكم </span>
                    </h3>
                    <div class="nav-control pull-left text-left">
                        <ul>
                            <li><a title="" class="color-tooltip" data-placement="top" data-toggle="tooltip" href="#" data-original-title=" صورة الحكم"><i class="fa fa-camera"></i><span class="name-nav"> صورة الحكم</span></a></li>
                            <li><a title="" class="color-tooltip printing" data-placement="top" data-toggle="tooltip" href="#" data-original-title=" طباعة"><i class="fa fa-print"></i><span class="name-nav"> طباعة </span></a></li>
                        </ul>
                    </div>
                   
                </div>
                <hr class="spacer" />
                <div id="hokmview"></div>
            </div>
            <hr class="spacer" />

        </div>





    }
    else if ((ViewBag.typeView == 2) || (ViewBag.typeView == 3))
    {
        @foreach (var item in Model.AhkamList)
        {
            countrow += 1;

            var Fakrat = Model.FakaratList.Where(p => p.HokmID == @item.ID).ToArray();

            <div id="result_@item.ID" class="result-block @((ViewBag.typeView == 3)?"col-md-4 height-scroll":"")">

                <h4><i class="fa fa-bank fa-2x icon"></i></h4>
                <div class="row-search selector">


                    <h3><img src="~/Content/images/Flags/Small/@item.CountryFlagPic" width="16" height="11" alt="" />&nbsp; @item.FullName</h3>
                    <div class="content-result" id="Content_@item.ID">
                        @for (int i = 0; i < Fakrat.Length; i++)
                        {
                            var CurrentFakra = Fakrat[i];
                            var Fakralength = CurrentFakra.Text.Length;
                            string FakraText = GetFakraText(CurrentFakra.Text,
                                                            CurrentFakra.FakraNo,
                                                            Model.TextPredicates,250).ToString();


                            <p>
                                <span class="fakr-title-search" style="color:red;">
                                    @CurrentFakra.Title :
                                </span>
                                <a class="fakra-text" fakraID="@CurrentFakra.ID" length="@Fakralength" target="_blank" href="View?ID=@item.ID#@CurrentFakra.ID">@Html.Raw(FakraText)</a>
                            </p>


                            if (i < Fakrat.Length - 1 && Fakrat.Length > 1)
                            {
                                <div class="fakarat-search-separator">
                                    <hr class="spacer" />
                                </div>
                            }
                        }
                    </div>
                    <div class="nav-control">
                         
                        <ul>
                            <li><a href="javascipt:;" data-toggle="tooltip" data-placement="top" class="color-tooltip fullfakra"  printID="@item.ID" title=" قراءة النص"><i class="fa fa-desktop"></i><span class="name-nav"> قراءة النص</span></a></li>
 
                              @if (@item.ImagesCount > 0)
                            {
                            <li>

            
                                @*<a href="#myModal" class="btn btn-lg btn-primary" data-toggle="modal">صورة الحكم</a>*@
                                 @*<a href="/ahkam/ImageViewer?count=@item.ImagesCount&hokmID=@item.ID"
                                target="_blank" data-toggle="tooltip" data-placement="top" class="color-tooltip"
                                count="@item.ImagesCount"><i class="fa fa-camera"></i><span class="name-nav"> صورة الحكم</span></a>*@ 

                                <a href="#myModal" class="color-tooltip ImageView"  
                                   data-toggle="modal" data-placement="top" 
                                   count="@item.ImagesCount" hokmid="@item.ID"  >
                                    <i class="fa fa-camera"></i><span class="name-nav"> صورة الحكم</span>
                                </a>
                            </li>
                            }
                            <li><a href="#" data-toggle="tooltip" data-placement="top" class="color-tooltip printing" printid="result_@item.ID"  title=" طباعة"><i class="fa fa-print"></i><span class="name-nav"> طباعة </span></a></li>

                        </ul>
                    </div>
                    <hr class="spacer" />
                </div>
            </div>
            @if (countrow % 3 == 0)
            {
                <hr class="spacer" />
            }
        }
        @if (countrow == 0)
        {
            <h3>لا يوجد نتائج</h3>
        }
    }
    else if (Model == null)
    {
        <h3>لا يوجد نتائج</h3>
    }
}
<div id="myModal" class="modal fade">
    <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            @*<h4 class="modal-title">  دولة الإمارات العربية المتحدة - المحكمة الإتحادية العليا - الأحكام الجزائية الطعن رقم 416 لسنة 2015 قضائية بتاريخ 2015-12-28 </h4>*@
        </div>

                <div class="modal-body" style="overflow:auto">
                    <img id="imagePanal" src="~/content/images/canvas.png" class="img-responsive " />
                </div>
                <div class="modal-footer">

                    <span id="imgChooseTitle">إختار الصورة </span>
                    <select class="small_txt_box" id="ddlImageChanger">
                    </select>

                    <button id="loadImage" type="button" class="btn btn-primary">تحميل</button>
                    <button id ="zoomScreenImage" zoomprop="0" type="button" class="btn btn-primary">مقاس الشاشة</button>
                    <button id="zoomOutImage" zoomprop="1" type="button" class="btn btn-primary">تكبير</button>
                    <button id="zoomInImage" zoomprop="-1" type="button" class="btn btn-primary">تصغير</button>
                    <button type="button" class="btn btn-primary">إلتفاف</button>
                    <button type="button" class="btn btn-primary">حفظ</button>
                    <button type="button" class="btn btn-primary">طباعة الحالى</button>
                    <button type="button" class="btn btn-primary">طباعة الكل</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">اغلاق</button>

                </div>
            </div>
        </div>
</div>
@functions{
    public static StringBuilder GetFakraText(string FakraText, int FakraNo, List<FTSPredicate> PredicatesHighlight,int MaxFakraTextLen)
    {
        var Result = new StringBuilder();
       // int MaxFakraTextLen = 250;

        if (PredicatesHighlight == null || PredicatesHighlight.Count == 0)
        {
            FakraText = FakraText.Substring(0, Math.Min(FakraText.Length, MaxFakraTextLen));

        }
        else
        {
            var MatchingPredicate = (from x in PredicatesHighlight
                                     where Convert.ToInt32(x.Tag) == FakraNo || Convert.ToInt32(x.Tag) == 5000
                                     orderby Convert.ToInt32(x.Tag)
                                     select x).FirstOrDefault();

            if (MatchingPredicate == null)
            {
                FakraText = FakraText.Substring(0, Math.Min(FakraText.Length, MaxFakraTextLen));
            }
            else
            {
                FakraText = Temp.HighlightTextTrim(FakraText, MatchingPredicate.Input, MatchingPredicate.SqlMode, MaxFakraTextLen);
            }
        }
        Result.Append(FakraText);
        return Result;
    }

}


<script>

    $(document).off('click', '.ImageView').on('click', '.ImageView', function () {
        var obj = $(this);
        var count = obj.attr('count');
        var hokmid = obj.attr('hokmid');
        var jsonData;
        $.getJSON('/Ahkam/GetImages', { 'ServiceID': hokmid }, function (data) {
            $('#ddlImageChanger').html('');
            $.each(data, function (e) {
                var item = this;
                $('#ddlImageChanger').append($("<option/>").val(item.ImagePath + " ImageID=" + item.ImageID).text(e + 1));
                console.log(data)
            });
        });

    });


    $('#ddlImageChanger').on('change', function () {
        alert(this.value);
    })

    $('#zoomOutImage,#zoomInImage,#zoomScreenImage').on('click', function () {
        var obj = $(this);
        var zoomprop = parseInt(obj.attr('zoomprop'));
        var imageObj = $('#imagePanal');
        var imageChangeSzieRate = 1;
        switch (zoomprop)
        {
            case 1:  { imageChangeSzieRate = 1.1;break; }
            case -1:{ imageChangeSzieRate = 0.9;  break;  }
        }
        imageObj.width(parseInt(imageObj.width() * imageChangeSzieRate));
        imageObj.height(parseInt(imageObj.height() * imageChangeSzieRate));
    })

    $('#loadImage').on('click', function () {
        var selectedText = $('#ddlImageChanger').val();
        var arr = selectedText.split(" ImageID=");
        $.getJSON('/Ahkam/GetImagesbase64Test', {'ImageID':arr[1],'OldPath':arr[0],'ServiceType':'1'}, function (data) {
            console.log(data);
            document.getElementById("imagePanal").src = '';
            //    $('#imagePanal').src(data);
            document.getElementById("imagePanal").src = "data:image/gif;base64," + data;
        });
        
    })



    $(document).ready(function () {
        $('#tabHokmBody').children('tr:first').trigger('click');
        $('[data-toggle="tooltip"]').tooltip();

        $('.height-scroll .content-result').mCustomScrollbar({
            setHeight: "130px",
            theme: "3d",
            scrollButtons: "1"

        });
    });
    $(document).off('click', '.printing').on('click', '.printing', function () {
            var ID = $(this).attr('printid').split("_", 2)[1];
            var fakarat = [];
            $('#Content_' + ID).find('.fakra-text').each(function () {
                var fakraID = $(this).attr('fakraID')
                fakarat.push(fakraID)
            })
            //console.log(fakarat);
            $.post('/Ahkam/FullHokmView', { 'ID': ID, 'fakarat': fakarat }, function (data) {
                printdiv(1, null, data);
            });

        });

    $(document).on('click', '.fullfakra', function () {

        var ID = $(this).attr('printID');
        var fakralenght = $('#Content_' + ID + '>p>a').attr('length');
        if (fakralenght >= 250) {
            var fakarat = [];
            $('#Content_' + ID).find('.fakra-text').each(function () {
                var fakraID = $(this).attr('fakraID')
                fakarat.push(fakraID)
            })
            //console.log(fakarat);
            $.post('/Ahkam/FullFakra', { 'ID': ID, 'fakarat': fakarat }, function (data) {
                $('#Content_' + ID).html(data)
            });
        }
    });
</script>