@{
    ViewBag.Title = "Home";

}

<div class="container-fluid inside">
    <section>
        <div class="container" style="padding-right:0px;">
            <div class="" style="padding:0px;">
                @Html.Partial("_ManzomatLinks");
                @*<div class="list-menu">
                        <h2>منظومات قوانين الشرق</h2>
                        <ul class="manzoma-list">
                            <li class="hvr-float-shadow">
                                <div class="manzoma">
                                    <div class="manzoma-content">
                                        <h3><a href="#"><span><i class="fa fa-bank  fa-2x"></i></span>التشريعات العربية</a></h3>
                                    </div>
                                </div>
                            </li>
                            <li class="hvr-float-shadow">
                                <div class="manzoma">
                                    <div class="manzoma-content">
                                        <h3><a href="/Ahkam/index"><span><i class="fa fa-legal fa-2x"></i></span>أحكام المحاكم العربية</a></h3>
                                    </div>
                                </div>
                            </li>
                            <li class="hvr-float-shadow">
                                <div class="manzoma">
                                    <div class="manzoma-content">
                                        <h3><a href="#"><span><i class="fa fa-leanpub fa-2x"></i></span>إدارات الفتوى والتشريع</a></h3>
                                    </div>
                                </div>
                            </li>
                            <li class="hvr-float-shadow">
                                <div class="manzoma">
                                    <div class="manzoma-content">
                                        <h3><a href="#"><span><i class="fa fa-flag  fa-2x"></i></span>الإتفاقيات العربية والدولية</a></h3>
                                    </div>
                                </div>
                            </li>
                            <li class="hvr-float-shadow">
                                <div class="manzoma">
                                    <div class="manzoma-content">
                                        <h3><a href="#"><span><i class="fa fa-book fa-2x"></i></span>القضاء فى الإسلام</a></h3>
                                    </div>
                                </div>
                            </li>
                            <li class="hvr-float-shadow">
                                <div class="manzoma">
                                    <div class="manzoma-content">
                                        <h3><a href="#"><span><i class="fa fa-globe fa-2x"></i></span>دساتير الدول</a></h3>
                                    </div>
                                </div>
                            </li>
                            <li class="hvr-float-shadow">
                                <div class="manzoma">
                                    <div class="manzoma-content">
                                        <h3><a href="#"><span><i class="fa fa-mortar-board  fa-2x"></i></span>حوكمة الشركات</a></h3>
                                    </div>
                                </div>
                            </li>

                            <li class="hvr-float-shadow">
                                <div class="manzoma">
                                    <div class="manzoma-content">
                                        <h3><a href="#"><span><i class="fa fa-history fa-2x"></i></span>حوكمة العقود</a></h3>
                                    </div>
                                </div>
                            </li>
                            <li class="hvr-float-shadow">
                                <div class="manzoma">
                                    <div class="manzoma-content">
                                        <h3><a href="#"><span><i class="fa fa-history fa-2x"></i></span>التحكيم العربي والدولي</a></h3>
                                    </div>
                                </div>
                            </li>
                            <li class="hvr-float-shadow">
                                <div class="manzoma">
                                    <div class="manzoma-content">
                                        <h3><a href="#"><span><i class="fa fa-history fa-2x"></i></span>المواعيد والمدد القانونية</a></h3>
                                    </div>
                                </div>
                            </li>
                            <li class="hvr-float-shadow">
                                <div class="manzoma">
                                    <div class="manzoma-content">
                                        <h3><a href="#"><span><i class="fa fa-sitemap fa-2x"></i></span>فحص وتقييم القضايا المدنية</a></h3>
                                    </div>
                                </div>
                            </li>
                            <li class="hvr-float-shadow">
                                <div class="manzoma">
                                    <div class="manzoma-content">
                                        <h3><a href="#"><span><i class="fa fa-history fa-2x"></i></span>فحص وتقييم القضايا الجنائية</a></h3>
                                    </div>
                                </div>
                            </li>
                            <li class="hvr-float-shadow">
                                <div class="manzoma">
                                    <div class="manzoma-content">
                                        <h3><a href="#"><span><i class="fa fa-book fa-2x"></i></span>فحص وتقييم القضايا الدستورية</a></h3>
                                    </div>
                                </div>
                            </li>
                            <li class="hvr-float-shadow">
                                <div class="manzoma">
                                    <div class="manzoma-content">
                                        <h3><a href="#"><span><i class="fa fa-book fa-2x"></i></span>المواريث</a></h3>
                                    </div>
                                </div>
                            </li>
                            <li class="hvr-float-shadow">
                                <div class="manzoma">
                                    <div class="manzoma-content">
                                        <h3><a href="#"><span><i class="fa fa-book fa-2x"></i></span>الكتاب الإلكتروني</a></h3>
                                    </div>
                                </div>
                            </li>
                            <li class="hvr-float-shadow">
                                <div class="manzoma">
                                    <div class="manzoma-content">
                                        <h3><a href="#"><span><i class="fa fa-book fa-2x"></i></span>فحص وإدراة أوراق الدعوى</a></h3>
                                    </div>
                                </div>
                            </li>
                            <li class="hvr-float-shadow">
                                <div class="manzoma">
                                    <div class="manzoma-content">
                                        <h3><a href="#"><span><i class="fa fa-book fa-2x"></i></span>الرياضة والقانون</a></h3>
                                    </div>
                                </div>
                            </li>
                            <li class="hvr-float-shadow">
                                <div class="manzoma">
                                    <div class="manzoma-content">
                                        <h3><a href="#"><span><i class="fa fa-book fa-2x"></i></span>المصطلحات القانونية</a></h3>
                                    </div>
                                </div>
                            </li>
                            <li class="hvr-float-shadow">
                                <div class="manzoma">
                                    <div class="manzoma-content">
                                        <h3><a href="#"><span><i class="fa fa-book fa-2x"></i></span>القاموس القانوني</a></h3>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>*@
            </div>
            <div class="main">

                <div class="new-eastlaws">
                    <h1>جديد قوانين الشرق</h1>
                    <p class="description">تعرف على كل ما هو جديد فى شبكة قوانين الشرق</p>
                    <div id="slide-slides" class="cslide-slides-master clearfix">
                        <div class="cslide-prev-next clearfix">
                            <span class="cslide-next">
                                <i class="fa fa-angle-left"></i>
                            </span>
                            <span class="cslide-prev"><i class="fa fa-angle-right"></i></span>
                        </div>
                        <div class="cslide-slides-container clearfix" style="margin-top:20px;">
                            <div class="cslide-slide">
                                <div class="col-lg-4 col-md-4 hvr-float-shadow">
                                    <article>
                                        <div class="image"> <img src="/content/images/courses.jpg" alt="" /> </div>
                                        <h3>كورس علم القانون</h3>
                                        <p>الكورس التدريبى الأهم لكافة أطياف العمل القانوننى بدأ من الطالب القانون</p>
                                        <ul>
                                            <li><a href="#">30 <span class="glyphicon glyphicon-comment"></span> </a></li>
                                            <li><a href="#">54 <span class="glyphicon  glyphicon-heart"></span> </a></li>
                                        </ul>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-4 hvr-float-shadow">
                                    <article>
                                        <div class="image"> <img src="/content/images/IT.jpg" alt="" /> </div>
                                        <h3>تكنولوجيا المعلومات</h3>
                                        <p>خدمة صناعة مواقع المعلومات القانونية للهيئات والوزارات والشركات</p>
                                        <ul>
                                            <li><a href="#">30 <span class="glyphicon glyphicon-comment"></span> </a></li>
                                            <li><a href="#">54 <span class="glyphicon  glyphicon-heart"></span> </a></li>
                                        </ul>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-4 hvr-float-shadow">
                                    <article>
                                        <div class="image"> <img src="/content/images/clients.jpg" alt="" /></div>
                                        <h3>مرحبا بالوكلاء</h3>
                                        <p>موقع قوانين الشرق يطلب وكلاء وموزاعين جدد فى المحافظات المصرية والدول العربية</p>
                                        <ul>
                                            <li><a href="#">30 <span class="glyphicon glyphicon-comment"></span> </a></li>
                                            <li><a href="#">54 <span class="glyphicon  glyphicon-heart"></span> </a></li>
                                        </ul>
                                    </article>
                                </div>
                            </div>
                            <div class="cslide-slide">
                                <div class="col-lg-4 col-md-4 hvr-float-shadow">
                                    <article>
                                        <div class="image"> <img src="/content/images/courses.jpg" alt="" /> </div>
                                        <h3>كورس علم القانون</h3>
                                        <p>الكورس التدريبى الأهم لكافة أطياف العمل القانوننى بدأ من الطالب القانون</p>
                                        <ul>
                                            <li><a href="#">30 <span class="glyphicon glyphicon-comment"></span> </a></li>
                                            <li><a href="#">54 <span class="glyphicon  glyphicon-heart"></span> </a></li>
                                        </ul>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-4 hvr-float-shadow">

                                    <article>
                                        <div class="image"> <img src="/content/images/IT.jpg" alt="" /> </div>
                                        <h3>تكنولوجيا المعلومات</h3>
                                        <p>خدمة صناعة مواقع المعلومات القانونية للهيئات والوزارات والشركات</p>
                                        <ul>
                                            <li><a href="#">30 <span class="glyphicon glyphicon-comment"></span> </a></li>
                                            <li><a href="#">54 <span class="glyphicon  glyphicon-heart"></span> </a></li>
                                        </ul>
                                    </article>
                                </div>
                                <div class="col-lg-4 col-md-4 hvr-float-shadow">
                                    <article>
                                        <div class="image"> <img src="/content/images/clients.jpg" alt="" /></div>
                                        <h3>مرحبا بالوكلاء</h3>
                                        <p>موقع قوانين الشرق يطلب وكلاء وموزاعين جدد فى المحافظات المصرية والدول العربية</p>
                                        <ul>
                                            <li><a href="#">30 <span class="glyphicon glyphicon-comment"></span> </a></li>
                                            <li><a href="#">54 <span class="glyphicon  glyphicon-heart"></span> </a></li>
                                        </ul>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="about col-lg-12">
                    <h2>من نحن</h2>
            
                    <div class="block-about">
                        <div class="col-lg-6 col-md-6 col-sm-7 content-about">
                            <h3>المجموعة الدولية للمحاماة والاستشارات القانونية <span style="font-weight:bold">(IGLC)</span></h3>
                            <p>
                                حققت شبكة قوانين الشرق انتشارا واسعاً في مجال تكنولوجيا المعلومات القانونية على المستوى العربي والمحلي داخل الوسط القانوني بجميع مؤسساته ومستوياته
                                ففي مؤسسة القضاء محلياً تعاقدت شبكة قوانين الشرق مع نادي القضاة ونادي قضاة مجلس الدولة ونادي هيئة قضايا الدولة، وعربياً تعاقدت شبكة قوانين الشرق مع إدارة المحاكم ومع مركز الدراسات القضائية والقانونية ووزارة العدل
                            </p>
                        </div>
                        <hr class="spacer" />
                    </div>
                </div>


            </div>
        </div>
    </section>


    <section>
        <div class="container">
            <div class="updates-day">
                <h2>المستجدات اليومية</h2>
                <div class="col-lg-4 col-md-4 col-sm-4 hvr-bounce-to-top">
                    <div class="newsletter ">
                        <i class="fa fa-envelope fa-3x"></i>
                        <h3> النشرة البريدية </h3>
                        <ul>
                            <li> <a href="#"><i class="fa fa-check fa-2x"></i> المملكة الأردنية الهاشمية - محكمة التمييز - الأحكام المدنية الطعن رقم 3634 لسنة 2004 قضائية</a></li>
                            <li> <a href="#"><i class="fa fa-check fa-2x"></i> المملكة الأردنية الهاشمية - محكمة التمييز - الأحكام المدنية الطعن رقم 3634 لسنة 2004 قضائية</a></li>
                            <li> <a href="#"><i class="fa fa-check fa-2x"></i> المملكة الأردنية الهاشمية - محكمة التمييز - الأحكام المدنية الطعن رقم 3634 لسنة 2004 قضائية</a></li>
                            <li> <a href="#"><i class="fa fa-check fa-2x"></i> المملكة الأردنية الهاشمية - محكمة التمييز - الأحكام المدنية الطعن رقم 3634 لسنة 2004 قضائية</a></li>
                        </ul>
                        <a herf="#" class="more text-left">المزيد</a>
                        <hr class="spacer" />
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 hvr-bounce-to-top">
                    <div class="newsletter ">
                        <i class="fa fa-newspaper-o fa-3x"></i>
                        <h3>الأخبار القانونية</h3>
                        <ul>
                            <li> <a href="#"><i class="fa fa-check fa-2x"></i> بوروندي - حظر استخدام الدراجات النارية بالعاصمة </a></li>
                            <li> <a href="#"><i class="fa fa-check fa-2x"></i> الصين - الموافقة على منح النساء إجازة أثناء فترة الطمث من كل شهر</a></li>
                            <li> <a href="#"><i class="fa fa-check fa-2x"></i> الإمارات - «الوطني»: السجن وغرامة مليــون درهم لمن يستخدم عنواناً بروتوكولياً وهـمياً في الإنترنت</a></li>
                            <li> <a href="#"><i class="fa fa-check fa-2x"></i> أمريكا - مشروع قانون يفرض تصريح الزوجة لحصول الزوج على الفياغرا!</a></li>
                            <li> <a href="#"><i class="fa fa-check fa-2x"></i> بوروندي - حظر استخدام الدراجات النارية بالعاصمة </a></li>
                        </ul>
                        <a herf="#" class="more text-left">المزيد</a>
                        <hr class="spacer" />
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 hvr-bounce-to-top">
                    <div class="newsletter ">
                        <i class="fa fa-pencil-square-o fa-3x"></i>
                        <h3> المدونات </h3>
                        <ul>
                            <li> <a href="#"><i class="fa fa-check fa-2x"></i> خصائص جديدة في إصدار 2015</a></li>
                            <li> <a href="#"><i class="fa fa-check fa-2x"></i> تطبيق الهواتف الذكية</a></li>
                            <li> <a href="#"><i class="fa fa-check fa-2x"></i> موقع الجريدة الرسمية لحكومة الشارقة</a></li>
                            <li> <a href="#"><i class="fa fa-check fa-2x"></i> الدراسات المقارنة</a></li>
                            <li> <a href="#"><i class="fa fa-check fa-2x"></i> موقع الجريدة الرسمية لحكومة الشارقة</a></li>
                            <li> <a href="#"><i class="fa fa-check fa-2x"></i> خصائص جديدة في إصدار 2015</a></li>
                        </ul>
                        <a herf="#" class="more text-left">المزيد</a>
                        <hr class="spacer" />
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

@*<h1>Welcome</h1>
<h3>@Model.CurrentGreeeting</h3>
<br /><br />
<div>
    <table>
        @foreach (var item in Model.Restaurants)
            {
            <tr>
                <td>
                    @Html.ActionLink(item.Id.ToString(), "Details", new { id = item.Id })
                </td>
                <td>@item.Name</td>
            </tr>
        }
    </table>
</div>

<hr />
Test : @ViewBag.Test*@
